<% content_for(:title, t('.title')) %>
<div class="container mx-auto pt-3 p-2 md:pl-12 py-24">
  <div class="flex flex-col justify-center">
    <div class="fixed top-16 right-0 left-0 z-30 flex justify-start items-center bg-base-100 sticky">
      <span class="material-symbols-outlined md:text-2xl text-primary" style="font-variation-settings: 'FILL' 1;">bookmark</span>
      <h1 class="text-base md:text-lg font-medium ml-3"><%= t('.title') %></h1>
    </div>
    <% if @bookmarked_recommends.empty? && @bookmarked_bag_contents.empty? %>
      <p class="text-center text-sm md:text-base text-gray-500 m-12">ブックマークした投稿はまだありません</p>
    <% end %>

    <div class="flex items-center mt-6">
      <span class="material-symbols-outlined md:text-2xl text-primary">lightbulb_2</span>
      <h1 class="text-sm md:text-base font-medium ml-3">マストアイテム</h1>
    </div>
    <div class="flex flex-wrap justify-start gap-5 md:gap-8 mt-6">
      <% @bookmarked_recommends.each do |recommend_or_bag_content| %>
        <% if recommend_or_bag_content.is_a?(Recommend) %>
          <%= link_to recommend_path(recommend_or_bag_content), class: "card bg-slate-50 w-40 md:w-64 shadow rounded p-3 md:p-5 flex flex-col relative dark:bg-base-200" do %>
            <h2 class="text-sm md:text-base font-medium mb-2 md:mb-6"><%= recommend_or_bag_content.place %></h2>
            <h3 class="text-xs md:text-sm font-medium"><%= recommend_or_bag_content.item %></h3>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="divider"></div>

    <div class="flex items-center">
      <span class="material-symbols-outlined md:text-2xl text-primary">work</span>
      <h1 class="text-sm md:text-base font-medium ml-3">持ち物リスト</h1>
    </div>
    <div class="flex flex-wrap justify-start gap-5 md:gap-8 mt-6">
      <% @bookmarked_recommends.each do |recommend_or_bag_content| %>
        <% if recommend_or_bag_content.is_a?(BagContent) %>
          <% if recommend_or_bag_content.item_list.cover_image.present? %>
            <div class="card bg-slate-50 w-40 h-40 md:w-44 md:h-44 rounded shadow relative dark:bg-base-200">
              <div class="card-title flex justify-between items-center p-2 text-sm md:text-base w-full relative">
                <div class="flex-grow pl-2 pr-10 font-medium" style="cursor: default; word-wrap: break-word; overflow-wrap: break-word;">
                  <%= recommend_or_bag_content.item_list.name %>
                </div>
              </div>
              <figure class="w-full h-full">
                <%= link_to bag_content_path(recommend_or_bag_content.uuid), class: "w-full h-full block" do %>
                  <%= image_tag recommend_or_bag_content.item_list.cover_image.url, class: "w-full h-full object-cover object-bottom" %>
                <% end %>
              </figure>
            </div>
          <% else %>
            <div class="card bg-slate-50 w-40 h-40 md:w-44 md:h-44 rounded shadow relative dark:bg-base-200">
              <div class="card-title flex justify-between items-center p-2 text-sm md:text-base w-full relative">
                <div class="flex-grow pl-2 font-medium" style="cursor: default;">
                  <%= recommend_or_bag_content.item_list.name %>
                </div>
              </div>
              <%= link_to bag_content_path(recommend_or_bag_content.uuid), class: "w-full h-full block rounded-b-lg bg-base-200 dark:bg-base-300" do %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
