<div class="flex items-center justify-center m-12">
  <div class="max-w-md w-full p-6 rounded shadow">
    <h1 class="text-lg font-medium mb-6">アカウントを作成</h1>

    <%= form_with model: resource, url: registration_path(resource_name), local: true, class: "space-y-4" do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name, "アカウント名", class: "text-sm" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input input-bordered input-sm w-full" %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス", class: "text-sm" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered input-sm w-full" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード", class: "text-sm" %>
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "input input-bordered input-sm w-full" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認用）", class: "text-sm" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input input-bordered input-sm w-full" %>
      </div>

      <div class="actions">
        <%= f.submit "アカウントを作成", class: "btn btn-primary w-full mt-4" %>
      </div>
    <% end %>
    <div class="text-center mt-6">
      <%= link_to "キャンセル", root_path, class: "text-sm" %>
    </div>
  </div>
</div>