<% if item_status.present? %>
  <turbo-frame id="<%= dom_id(item_status) %>" class="w-full">
    <%= button_to toggle_item_status_path(item_status), 
                  method: :patch, 
                  data: { toggle: "item-status", checked: item_status.is_checked },
                  class: "btn w-full flex justify-between items-center text-left font-normal
                         #{item_status.is_checked ? 'btn-active' : 'btn-inactive'} 
                         #{item_status.is_checked ? 'relative inline-flex items-center justify-center p-0.5 overflow-hidden rounded-lg group bg-gradient-to-tl from-primary to-cyan-500 hover:bg-base200 dark:text-neutral' :'relative inline-flex items-center justify-center rounded-lg bg-base-100 hover:bg-base200 dark:text-neutral'}" do %>
      <% if item_status.is_checked %>
        <span class="relative flex items-center justify-start w-full pl-4 py-3.5 bg-white dark:bg-base-200 rounded-md group-hover:bg-base-200 dark:group-hover:bg-base-300">
          <%= item_status.original_item&.name || item_status.default_item&.name %>
        </span>
      <% else %>
        <span>
          <%= item_status.original_item&.name || item_status.default_item&.name %>
        </span>
      <% end %>
      <% if item_status.quantity > 1 %>
        <div class="badge badge-primary badge-sm py-2 ml-2 absolute right-4 top-1/2 transform -translate-y-1/2">
          <%= item_status.quantity %>
        </div>
      <% end %>
    <% end %>
  </turbo-frame>
<% else %>
  <turbo-frame class="w-full max-w-md">
    <span>No item selected</span>
  </turbo-frame>
<% end %>
