<% if bag_content.item_list.cover_image.present? %>
  <div class="card bg-slate-50 w-40 h-40 md:w-48 md:h-48 rounded shadow relative dark:bg-base-200">
    <div class="card-title flex justify-between items-center p-2 text-sm md:text-lg w-full relative">
      <div class="flex-grow pl-2 font-medium" style="cursor: default;">
        <%= bag_content.item_list.name %>
      </div>
    </div>
    <figure class="w-full h-full">
      <%= link_to bag_content_path(bag_content.uuid), class: "w-full h-full block" do %>
        <%= image_tag bag_content.item_list.cover_image.url, class: "w-full h-full object-cover object-bottom" %>
      <% end %>
    </figure>
  </div>
<% else %>
  <div class="card bg-slate-50 w-40 h-40 md:w-48 md:h-48 rounded shadow relative dark:bg-base-200">
    <div class="card-title flex justify-between items-center p-2 text-sm md:text-lg w-full relative">
      <div class="flex-grow pl-2 font-medium" style="cursor: default;">
        <%= bag_content.item_list.name %>
      </div>
    </div>
    <%= link_to bag_content_path(bag_content.uuid), class: "flex justify-center items-center w-full h-full block rounded-b-lg bg-base-200 dark:bg-base-300" do %>
      <%= image_tag "placeholder.png", class: "w-24 h-24" %>
    <% end %>
  </div>
<% end %>
