<% content_for(:title, t('.title')) %>
<% content_for :head do %>
  <% if @bag_content.item_list.cover_image.present? %>
    <link rel="preload" href="<%= @bag_content.item_list.cover_image.url %>" as="image">
  <% end %>
<% end %>

<div class="flex items-center justify-center p-5">
  <div class="w-full md:w-2/3 bg-slate-50 p-6 rounded shadow dark:bg-base-200">
    <div class="flex flex-col md:flex-row w-full">
      <div class="card w-full md:w-1/2 place-items-start">
        <h2 class="text-base md:text-lg font-medium text-left mb-4"><%= @bag_content.item_list.name %></h2>

        <div class="flex items-center gap-2 mb-4">
          <%= image_tag @bag_content.user.avatar_url, class: "w-6 h-6 rounded-full" %>
          <p class="text-xs md:text-sm text-left"><%= @bag_content.user.name %></p>
        </div>

        <% if @bag_content.tags.present? %>
          <%= render 'bag_contents/tags', bag_content: @bag_content %>
        <% end %>

        <% if @bag_content.item_list.cover_image.present? %>
          <div>
            <%= image_tag @bag_content.item_list.cover_image.url, class: "w-full w-auto object-contain rounded shadow mt-2 md:mt-4" %>
          </div>
        <% end %>

        <% if @bag_content.body.present? %>
          <div class="mt-6 text-xs md:text-sm break-words">
            <%= simple_format(@bag_content.body) %>
          </div>
        <% end %>
      </div>

      <div class="divider md:divider-horizontal"></div>

      <div class="w-full md:w-1/2">
        <ul class="space-y-2 w-full">
          <p class="text-sm font-medium mt-1 mb-4">持ち物</p>
          <% (@selected_default_items + @selected_original_items).each do |item| %>
            <li class="flex items-center space-x-4">
              <span class="text-xs md:text-sm"><%= item.name %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="flex justify-between items-center mt-6 md:mt-10">
      <%= link_to bag_contents_path, class: "flex items-center md:gap-2 text-sm text-nowrap mb-1" do %>
        <span class="material-symbols-outlined text-primary dark:text-neutral">arrow_back_ios_new</span>
        もどる
      <% end %>
      <div class="flex justify-end items-center gap-5">
        <% twitter_share_url = "https://twitter.com/intent/tweet?url=#{request.url}&text=#{CGI.escape("#{@bag_content.item_list.name}の持ち物リスト")}%0A&hashtags=#{CGI.escape('AllReadyApp')}" %>
        <%= link_to twitter_share_url, target: '_blank' do %>
          <button class="flex items-center gap-2 px-2 py-1 mb-1 bg-gray-100 text-gray-800 text-sm font-medium rounded hover:bg-gray-200 dark:bg-gray-100 dark:hover:bg-gray-200" type="button">
            <div class="w-[15px] h-[15px]"> 
              <svg viewBox="0 0 1200 1227" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-full h-full fill-black">
                <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" />
              </svg>
            </div>
            <span>ポスト</span>
          </button>
        <% end %>

        <%= render 'bookmark_buttons', { bag_content: @bag_content } %>
        <% if user_signed_in? && current_user.own?(@bag_content) %>
          <%= link_to edit_bag_content_path(@bag_content), id: "button-edit-#{@bag_content.uuid}" do %>
            <span class="material-symbols-outlined text-primary dark:text-neutral">edit</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

