<div class="container mx-auto pt-3 px-2 md:px-12 py-24">
  <div class="flex flex-col md:flex-row items-start mx-auto w-full">
    <div class="flex flex-col w-full md:w-1/2">
      <div class="flex items-center w-full justify-between">
        <h1 class="text-base md:text-lg font-medium text-center flex-grow"><%= @item_list.name %></h1>
        <span class="material-symbols-outlined md:hidden" onclick="openItemModal()">edit_square</span>
      </div>

      <%= render "item_lists/ready_status", item_list: @item_list, id: dom_id(@item_list, :ready_status) %>

      <div class="container flex flex-col justify-center items-center mt-8 md:ml-12 gap-4 w-full">
        <% if @selected_default_items.empty? && @selected_original_items.empty? %>
          <p class="text-center text-gray-500">持ち物がありません</p>
        <% else %>
          <ul class="w-full p-0 m-0">
            <% (@selected_default_items + @selected_original_items)
                .sort_by { |item| item.item_statuses.find_by(item_list_id: @item_list.id)&.position || 0 }
                .each do |item| %>
              <li class="flex items-center gap-2 p-2">
                <span class="material-symbols-outlined cursor-move drag-handle text-base-300">drag_handle</span>
                <%= render "item_statuses/item_status", item_status: item.item_statuses.find_by(item_list_id: @item_list.id) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <!-- md以上はメニュー表示 -->
    <div class="hidden md:flex flex-col w-96 bg-base-100 p-6 rounded shadow dark:bg-base-200 ml-36 mt-24">
      <div class="flex flex-col w-full space-y-8">
        <%= link_to new_item_list_item_path(@item_list),
          class: "btn btn-outline text-primary bg-base-100 dark:bg-base-200 dark:text-neutral border-primary dark:border-neutral hover:bg-gray-100 hover:border-primary hover:text-primary
          dark:hover:bg-base-300 dark:hover:border-neutral dark:hover:text-neutral w-full" do %>
          <span class="material-symbols-outlined">checklist</span>
          アイテムを編集
        <% end %>
        <%= link_to item_list_quantities_path(@item_list),
          class: "btn btn-outline text-primary bg-base-100 dark:bg-base-200 dark:text-neutral border-primary dark:border-neutral hover:bg-gray-100 hover:border-primary hover:text-primary
          dark:hover:bg-base-300 dark:hover:border-neutral dark:hover:text-neutral w-full" do %>
          <span class="material-symbols-outlined">exposure_plus_1</span>
          アイテム数を変更
        <% end %>
        <%= form_with url: clear_checked_items_item_list_path(@item_list), method: :patch, local: true do %>
          <button type="submit" class="btn btn-outline text-primary bg-base-100 dark:bg-base-200 dark:text-neutral border-primary dark:border-neutral hover:bg-gray-100 hover:border-primary hover:text-primary
          dark:hover:bg-base-300 dark:hover:border-neutral dark:hover:text-neutral w-full">
            <span class="material-symbols-outlined">refresh</span>
            準備済みのアイテムをクリア
          </button>
        <% end %>
        <button id="filterChecked" class="btn btn-outline text-primary bg-base-100 dark:bg-base-200 dark:text-neutral border-primary dark:border-neutral hover:bg-gray-100 hover:border-primary hover:text-primary
        dark:hover:bg-base-300 dark:hover:border-neutral dark:hover:text-neutral w-full gap-4">
          <span class="material-symbols-outlined" id="filterIcon">visibility_off</span>
          <span id="filterText">準備済みのアイテムを非表示</span>
        </button>
      </div>
    </div>


    <!-- md未満はモーダル -->
    <dialog id="itemModal" class="modal md:hidden">
      <div class="modal-box bg-base-100 w-96 mx-auto flex flex-col items-center py-12 dark:bg-base-200">
        <div class="modal-action flex flex-col mx-auto w-full space-y-6">
          <%= link_to new_item_list_item_path(@item_list), class: "btn btn-outline text-primary bg-base-100 dark:bg-base-200 dark:text-neutral border-primary dark:border-neutral hover:bg-gray-100 hover:border-primary hover:text-primary dark:hover:bg-base-300 dark:hover:border-neutral dark:hover:text-neutral w-full" do %>
            <span class="material-symbols-outlined">checklist</span>
            アイテムを編集
          <% end %>
          <%= link_to item_list_quantities_path(@item_list), class: "btn btn-outline text-primary bg-base-100 dark:bg-base-200 dark:text-neutral border-primary dark:border-neutral hover:bg-gray-100 hover:border-primary hover:text-primary dark:hover:bg-base-300 dark:hover:border-neutral dark:hover:text-neutral w-full" do %>
            <span class="material-symbols-outlined">exposure_plus_1</span>
            アイテム数を変更
          <% end %>
          <%= form_with url: clear_checked_items_item_list_path(@item_list), method: :patch, local: true do %>
            <button type="submit" class="btn btn-outline text-primary bg-base-100 dark:bg-base-200 dark:text-neutral border-primary dark:border-neutral hover:bg-gray-100 hover:border-primary hover:text-primary dark:hover:bg-base-300 dark:hover:border-neutral dark:hover:text-neutral w-full">
              <span class="material-symbols-outlined">refresh</span>
              準備済みのアイテムをクリア
            </button>
          <% end %>
          <button id="filterChecked" class="btn btn-outline text-primary bg-base-100 dark:bg-base-200 dark:text-neutral border-primary dark:border-neutral hover:bg-gray-100 hover:border-primary hover:text-primary dark:hover:bg-base-300 dark:hover:border-neutral dark:hover:text-neutral w-full gap-4">
            <span class="material-symbols-outlined" id="filterIcon">visibility_off</span>
            <span id="filterText">準備済みのアイテムを非表示</span>
          </button>
          <button class="btn btn-ghost w-full" onclick="document.getElementById('itemModal').close()">キャンセル</button>
        </div>
      </div>
    </dialog>
  </div>
</div>
