<% content_for(:title, t('.title')) %>
  <div class="flex flex-col items-center mx-auto p-5">
    <div class="flex items-center w-full max-w-md justify-between">
      <h1 class="text-lg font-medium text-center flex-grow"><%= @item_list.name %></h1>
      <span class="material-symbols-outlined" onclick="openItemModal()">edit_square</span>

      <dialog id="itemModal" class="modal">
        <div class="modal-box bg-slate-50 w-96 mx-auto flex flex-col items-center py-12">
          <div class="modal-action flex flex-col mx-auto w-full space-y-6">
            <%= link_to new_item_list_item_path(@item_list), class: "btn btn-primary w-full gap-4" do %>
              <span class="material-symbols-outlined">checklist</span>
              アイテムを編集
            <% end %>
            <%= link_to item_list_quantities_path(@item_list), class: "btn btn-primary w-full gap-4" do %>
              <span class="material-symbols-outlined">exposure_plus_1</span>
              アイテム数を変更
            <% end %>
            <%= form_with url: clear_checked_items_item_list_path(@item_list), method: :patch, local: true do %>
              <button type="submit" class="btn btn-primary flex items-center w-full">
                <span class="material-symbols-outlined">refresh</span>
                準備済みのアイテムをクリア
              </button>
            <% end %>
            <button class="btn btn-ghost w-full" onclick="document.getElementById('itemModal').close()">キャンセル</button>
          </div>
        </div>
      </dialog>
    </div>

    <%= render "item_lists/ready_status", item_list: @item_list, id: dom_id(@item_list, :ready_status) %>

    <div class="container flex flex-col justify-center items-center mt-8 gap-4" data-controller="sortable" data-sortable-url="<%= item_list_path(@item_list) %>">
      <% if @selected_default_items.empty? && @selected_original_items.empty? %>
        <p class="text-center text-gray-500">持ち物がありません</p>
      <% else %>
        <ul data-sortable-target="list" class="w-full max-w-md p-0 m-0">
          <% (@selected_default_items + @selected_original_items)
              .sort_by { |item| item.item_statuses.find_by(item_list_id: @item_list.id)&.position || 0 }
              .each do |item| %>
            <li data-item-id="<%= item.id %>" class="flex items-center gap-2 p-2">
              <span class="material-symbols-outlined cursor-move drag-handle text-base-300">drag_handle</span>
              <%= render "item_statuses/item_status", item_status: item.item_statuses.find_by(item_list_id: @item_list.id) %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= hidden_field_tag :item_ids, "", id: "sortable-item-ids" %>
    </div>
  </div>
