<% content_for(:title, t('.title')) %>
<div class="container mx-auto pt-3 p-2 md:pl-12 py-24">
  <h1 class="text-base md:text-lg font-medium mb-6 md:mb-12"><%= @place %>のマストアイテム</h1>
  <div class="flex flex-wrap justify-start gap-5 md:gap-10">
    <% if @recommends.present? %>
      <% @recommends.each do |recommend| %>
        <%= link_to recommend_path(recommend), class: "card bg-slate-50 w-40 h-40 md:w-60 md:h-60 shadow rounded relative overflow-hidden flex items-center justify-center dark:bg-base-200" do %>
          <% if recommend.item_image? %>
            <%= image_tag recommend.item_image_url, class: "absolute inset-0 w-full h-full object-contain opacity-40" %>
          <% end %>
          <div class="relative z-10 text-center px-3">
            <h2 class="text-sm md:text-lg font-bold"> <%= recommend.item %></h2>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p class="text-center text-sm md:text-base text-gray-500">マストアイテムが見つかりませんでした</p>
    <% end %>
  </div>
  <%= link_to new_recommend_path,
    class: "fixed bottom-28 right-4 md:right-20 z-60 bg-gradient-to-t from-primary to-cyan-500 text-white font-bold
    rounded-full text-base md:text-lg p-5 md:p-6 flex items-center justify-center shadow transition-all duration-300 hover:brightness-110" do %>
    <span class="material-symbols-outlined text-2xl">add</span>
  <% end %>
</div>
