<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center p-5">
  <div class="flex items-center w-full md:w-2/3 justify-between">
    <div class="card bg-slate-50 w-full shadow rounded p-6 dark:bg-base-200">
      <div class="flex flex-col">
        <div class="text-base md:text-lg mb-4"><%= "#{@recommend.item}" %></div>

        <div class="flex items-center gap-2 mb-4 justify-start">
          <%= image_tag @recommend.user.avatar_url, class: "w-6 h-6 rounded-full mr-2" %>
          <span class="text-xs md:text-sm"><%= @recommend.user.name %></span>
        </div>

        <div class="mt-4 text-xs md:text-sm">
          <%= simple_format(@recommend.body) %>
        </div>

        <% if @recommend.item_image? %>
          <div class="flex justify-start">
            <%= image_tag @recommend.item_image_url, class: "h-50 w-auto object-contain rounded shadow mt-8" %>
          </div>
        <% end %>
      </div>

      <div class="flex justify-end items-center gap-4 mt-6">
        <% twitter_share_url = "https://twitter.com/intent/tweet?url=#{request.url}&text=#{CGI.escape(@recommend.place)}のマストアイテム：#{CGI.escape(@recommend.item)}%0A&hashtags=#{CGI.escape('AllReady')}" %>
        <%= link_to twitter_share_url, target: '_blank', class: "mb-1.5" do %>
          <i class="fa-brands fa-x-twitter fa-lg text-primary dark:text-neutral"></i>
        <% end %>

        <%= render 'bookmark_buttons', { recommend: @recommend } %>
        <% if user_signed_in? && current_user.own?(@recommend) %>
          <%= link_to edit_recommend_path(@recommend), id: "button-edit-#{@recommend.uuid}" do %>
            <span class="material-symbols-outlined text-primary dark:text-neutral">edit</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
