<div>
  <div class="flex flex-col items-center justify-center p-5 gap-6">
    <h1 class="text-lg font-medium text-center"><%= @item_list.name %></h1>

    <%= form_with(model: @item_list, local: true) do |f| %>
      <div class="flex justify-center mb-12">
        <%= f.submit "持ち物リストを保存", class: "btn btn-primary" %>
      </div>
      <div class="flex gap-8">
          <div class="flex">
            <div class="container bg-slate-50 p-6 rounded shadow w-96">
              <div class="flex flex-col items-start gap-4">
                <h3 class="text-sm">既存のアイテム</h3>
                <% @default_items.each do |item| %>
                  <div class="flex items-center gap-2">
                    <% status = item.item_statuses.find_by(item_list_id: @item_list.id) %>
                    <%= hidden_field_tag "item_list[default_item_ids][]", nil %>
                    <%= check_box_tag "item_list[default_item_ids][]", item.id, status&.selected, class: "checkbox checkbox-primary checkbox-sm" %>
                    <%= item.name %>
                  </div>
                <% end %>

                <h3 class="text-sm mt-6">オリジナルのアイテム</h3>
                <% @original_items.each do |item| %>
                  <% if ItemListOriginalItem.exists?(item_list: @item_list, original_item: item) %>
                    <div class="flex items-center gap-2">
                      <% status = item.item_statuses.find_by(item_list_id: @item_list.id) %>
                      <%= check_box_tag "item_list[original_item_ids][]", item.id, status&.selected, class: "checkbox checkbox-primary checkbox-sm" %>
                      <%= item.name %>
                      <%= link_to "✕", item_list_item_destroy_original_item_path(@item_list, item.id, id: item.id), data: { turbo_method: :delete }, class: "p-2 btn btn-ghost btn-circle btn-sm" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="container bg-slate-50 p-6 rounded shadow">
          <h3 class="text-sm text-left mb-6">アイテムを追加</h3>
          <%= form_with model: @new_original_item, url: item_list_items_path(@item_list), local: true do |f| %>
            <label class="form-control w-full max-w-xs">
              <input type="text" placeholder="アイテムの名前" name="original_item[name]" class="input input-bordered w-full max-w-xs" required />
            </label>
            <div class="mt-4">
              <%= f.submit '追加', class: "btn btn-primary w-full" %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
