<div class="container mx-auto pt-3 px-6 md:px-12 py-24">
  <div class="flex justify-center bg-base-100">
    <h1 class="text-sm md:text-base font-medium ml-3">どのアイテムの数を変更しますか？</h1>
  </div>
  <div class="flex flex-col justify-center items-center gap-4 md:gap-8 mt-6 md:mt-12">
    <% @item_statuses.each do |status| %>
      <div class="flex items-center gap-2 w-full max-w-md">
        <% if status.original_item %>
          <div class="btn w-full flex justify-between items-center text-left font-normal px-4 bg-slate-50 dark:bg-base-200" onclick="openItemQuantityModal(<%= status.id %>)">
            <%= status.original_item.name %>
            <% if status.quantity > 1 %>
              <div class="badge badge-primary badge-sm ml-2"><%= status.quantity %></div>
            <% end %>
          </div>
        <% elsif status.default_item %>
          <div class="btn w-full flex justify-between items-center text-left font-normal px-4 bg-slate-50 dark:bg-base-200" onclick="openItemQuantityModal(<%= status.id %>)">
            <%= status.default_item.name %>
            <% if status.quantity > 1 %>
              <div class="badge badge-primary badge-sm ml-2"><%= status.quantity %></div>
            <% end %>
          </div>
        <% end %>
      </div>

      <dialog id="itemQuantityModal_<%= status.id %>" class="modal">
        <div class="modal-box bg-slate-50 w-72 mx-auto flex flex-col items-center py-12 dark:bg-base-200">
          <%= form_with model: status, url: item_list_quantity_path(item_list_id: @item_list.id, id: status.id), method: :patch, local: true do |f| %>
            <label class="form-control w-full max-w-xs">
              <input type="number" name="item_status[quantity]" class="input input-bordered w-full max-w-xs" value="<%= status.quantity %>" min="1" required />
            </label>
            <div class="modal-action mt-4">
              <%= f.submit '決定', class: "btn btn-primary w-full" %>
            </div>
          <% end %>
          <button class="btn btn-ghost mt-4" onclick="document.getElementById('itemQuantityModal_<%= status.id %>').close()">キャンセル</button>
        </div>
      </dialog>
    <% end %>
  </div>
