<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <%= favicon_link_tag "favicon.ico" %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JCGQE1NYWW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JCGQE1NYWW');
    </script>
  </head>

  <body class="flex flex-col min-h-screen bg-base-100 font-zen-kaku-gothic-new">
    <% if user_signed_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <div class="flex-grow pt-16">
      <% unless @show_menu == false %>
        <%= render 'shared/menu' %>
      <% end %>
      <% if request.path == "/" %>
        <main class="flex-1">
          <%= render "shared/flash_messages" %>
          <%= yield %>
        </main>
      <% else %>
        <main class="flex-1 p-4 md:pr-64">
          <%= render "shared/flash_messages" %>
          <%= yield %>
        </main>
      <% end %>
    </div>
    <footer class="footer text-base-content p-4 ml-2">
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
