<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/icon_any_192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="/icon_any_512.png" sizes="512x512" type="image/png">
    <link rel="apple-touch-icon" href="/icon_any_192.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'sessions' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/f242c6364d.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">

    <%= display_meta_tags(default_meta_tags) %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JCGQE1NYWW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JCGQE1NYWW');
    </script>
  </head>

  <body class="flex flex-col min-h-screen bg-base-100 font-zen-kaku-gothic-new text-neutral dark:text-neutral">
    <% if user_signed_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    
    <div class="<%= (request.path == "/" && flash.any?) ? 'pt-16 flex-grow' : (request.path == "/" ? 'flex-grow' : 'pt-16 flex-grow') %>">
      <% unless @show_menu == false %>
        <%= render 'shared/menu' %>
      <% end %>

      <main class="<%= request.path == "/" ? "flex-1" : "flex-1 p-4 md:pl-64" %>">
        <%= render "shared/flash_messages" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
